.error {
    color: red;
    font-size: 14px;
    margin-bottom: 7px;
    margin-left: 15px;
  }

  /* .modal-add-alumno{
    display: block;
    max-width: 50vh;
    max-height: 50vh;
    height: 50%;
    width: 50%;
  } */

  