
img {
  width:100%;
  height:400px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;	

}
.sec-carousel{
 width: 100%;
 height: 20%;

}
.sec-content{
 height: 500px;
 width: 100%;
 background-color: rgb(234, 238, 240);

}
.sec-content img{
  width: 80%;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 10%;

 
 }