
<div id="sidebar" class="fondo row">
    <nav class="pb-5">
        <div class="sidebar-header pl-4 mt-5">
          <mat-list class="m-3">
            <mat-list-item  >
              <a routerLink="home">
                <span class=" pr-3" ><mat-icon class="icon-home" >home</mat-icon></span>
                <span class="title-home">Home</span>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="container">
          <div class=" mt-4">
            <h2 class="sec-option ml-1">Secciones</h2>
            <hr>
          </div>
          <mat-list class="m-3">
            <mat-list-item>
              <a routerLink="alumnos">
                <div class="d-flex justify-content-left align-items-center ">
                  <span class=" pr-3 mt-2" ><mat-icon >group</mat-icon></span>
                  <span class="hover-color">Alumnos</span>
              </div>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a routerLink="cursos">
                <div class="d-flex justify-content-left align-items-center ">
                   <span class=" pr-3 mt-2  hover-color" ><mat-icon >video_camera_front</mat-icon></span>
                   <span class="hover-color">Cursos</span>
                </div>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a routerLink="inscripciones">
                <div class="d-flex justify-content-left align-items-center ">
                   <span class=" pr-3 mt-2  hover-color" ><mat-icon >post_add</mat-icon></span>
                   <span class="hover-color">Inscripciones</span>
                </div>
              </a>
            </mat-list-item>
            <mat-list-item >
              <a routerLink="usuarios">
                <div class="d-flex justify-content-left align-items-center ">
                  <span class=" pr-3 mt-2 " ><mat-icon >person</mat-icon></span>
                  <span class="hover-color">Usuarios</span>
                </div>
              </a>
            </mat-list-item>
        </mat-list>
        </div>
        
    </nav>
</div>
