<div class="row mt-4">   
    <div class="col-md-3 offset-1">
        <div class="row">
            <div class="container">
                <img class="img-responsive" src="https://i.pinimg.com/550x/9b/7e/89/9b7e897aa5b26b4cdda4361abb41e5ea.jpg" alt="">
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-md-12 text-center">
                <h4>Datos Generales</h4>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex">
                    <div class="col-md-4 text-right">
                        <p><strong>Edad</strong></p>
                        <p><strong>Carrera</strong></p>
                        <p><strong>Institucion</strong></p>
                       
                    </div>
                    <div class="col-md-8">
                        <p><strong>{{dataAlumno.edad}}</strong></p>
                        <p><strong>{{dataAlumno.carrera}}</strong></p>
                        <p><strong>{{dataAlumno.institucion}}</strong></p>
      
                    </div>
        
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-7 ml-5">
        <div class="row ">
            <div class="col-md-10">
                <h2>{{dataAlumno.nombre}} {{dataAlumno.apellidos}}</h2>
            </div>
           
            <div class="col-2 text-right">
                <button mat-flat-button class="btn btn-warning " (click)="returnAlumnos()" ><mat-icon>reply</mat-icon>&nbsp; Regresar</button>
            </div>
        </div>
        <br><br>
        <div class="row">
            <p><strong>Descripcion</strong></p>

            <p class="descrip">Soy ingeniero en sistemas computaciones, que busca desempeñarse profesionalmente en el desarrollo web de aplicaciones, ya que actualmente es uno de los ambitos laborales mas estables y con un amplio desarrollo. Tengo un amplio interes por la tecnologia y su aplicacion y estoy desarrollando aptitudes para poder logras mis objetivos.  </p>
        </div>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Objetivos:</strong></p>
                <ul>
                    <li>Estabilidad Economica</li>
                    <li>Desarrollo Profesional</li>
                    <li>aplicar conocimientos que controbuyan a la sociedad</li>
                </ul>
            </div>
            <div class="col-md-6">
                <p><strong>Motivaciones:</strong></p>
                <ul>
                    <li>ser mas competente</li>
                    <li>apoyo familiar</li>
                    <li>desarrollo personal</li>
                </ul>                        
            </div>
                </div>
                <br><br>
                <div class="row">
                    <p><strong>Aptitudes:</strong></p>
                    <ul>
                        <li>Pesponsabilidad</li>
                        <li>Compromiso</li>
                        <li>Proactivo</li>
                        <li>Determinacion</li>
                    </ul>
                </div>
            </div>
        </div> 
