.pruebacon{
    background-color: red;
}

img {
    width: 100%;
    height: auto;
}
.color0{
    background-color: rgb(243, 193, 166);
}
.color1{
    background-color: rgb(104, 104, 239);
}
.color2{
    background-color: rgb(207, 241, 181);
}
.color3{
    background-color: rgb(243, 225, 137);
}