.style{
    background-color: brown;
   
}
hr{
    height: 3px;
    border: none;
    background-color: rgb(15, 194, 62);
}
mat-form-field{
    margin-top: 20px;
    margin-bottom: 20px;
}

.sec-div{
   
        padding: 20px;
        box-shadow:
             inset 0 -3em 3em rgba(0,0,0,0.1),
                   0 0  0 2px rgb(255,255,255),
                   0.3em 0.3em 1em rgba(0,0,0,0.3);
     
}